
<section class="section-md">
  <div class="container flex flex-column wrap text-center items-center mb-8 bg-white">
    <h2 class="mb-4 heading--sm">Create an account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true,
        placeholder: "El barto"%>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        placeholder: "example@mail.com" %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true,
        placeholder: "Bart"%>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :avatar, style: "display: block" %>
        <%= f.file_field :avatar %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",
        placeholder: "***********" %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
        placeholder: "***********" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button button--primary mb-4" %>
      </div>
      <p class="mb-4">Already a member?</p>
      <%= link_to "Sign in", new_session_path(resource_name) %><br />
    <% end %>

  </div>
</section>

