<div>

  <div>
    <% if tweet.user.avatar.attached? %>
      <div>
        <%= image_tag(tweet.user.avatar) %>
      </div>
    <% end %>

    <div>
      <div>
        <span><%= tweet.user.name %></span>
        <span>@<%= tweet.user.username %></span>
      </div>

      <span>
        <%= ((Time.zone.now - tweet.updated_at) / 1.minutes).floor %>
         minutes ago
      </span>
    </div>
  </div>

  <p>
    <%= tweet.body %>
  </p>
  <div>

    <%= link_to tweet_path(tweet) do%>
      <%= image_tag("comment_icon.png")%>
    <% end %>
    <span><%= tweet.threads.count %></span>
    <%# button like enabled or disabled : Yhostin %>
    <% unless Like.exists?(user:current_user, tweet: tweet) %>
      <%= render "likes/form", like: tweet.likes.new(user:current_user) %>
    <% else %>
      <%= link_to like_path(Like.where(user:current_user, tweet: tweet).first), method: "delete",
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure dislike tweet?' } do%>
        <%= image_tag("like_icon.png")%>
      <% end %>
    <% end %>

    <span><%= tweet.likes.count %></span>
  </div>
</div>
