<div class="card p-card">

  <%= link_to tweet.user do%>
    <div class="card__head">
      <div>
        <% if tweet.user.avatar.attached? %>
            <%= image_tag tweet.user.avatar, class: "index--img" %>
        <% else %>
            <%= image_tag("avatar_default.jpg", class: "index--img") %>
        <% end %>
      </div>

      <div class="link text-left">
        <div>
          <span class="name" ><%= tweet.user.name %></span>
          <span class=""username>@<%= tweet.user.username %></span>
        </div>

        <span class="times_ago">
          <%= time_ago_in_words(tweet.updated_at) %>
          ago 
        </span>
      </div>
    </div>
  <% end %>

  <div class="card_body">
    <%= link_to tweet do%>
      <div>
        <p class="text_body content-sm link text-left"><%= tweet.body %></p>
      </div>
    <% end %>


    <div class="flex justify-between">

      <div class="flex gap-4">
        <% if current_user == tweet.user %>
          <%= link_to image_tag("destroy.png"), tweet_path(tweet),
            data: {turbo_method: :delete} %>
          <%#= link_to edit_tweet_path(tweet) do%>
            <%#= image_tag("destroy.png")%>
          <%# end %>

          <%= link_to edit_tweet_path(tweet) do%>
            <%= image_tag("edit.png")%>
          <% end %>
        <% end %>
      </div>

      <div class="flex gap-4">
          <%= link_to tweet do%>
            <%= image_tag("comment_icon.png")%>
          <% end %>

      <%# button like enabled or disabled : Yhostin %>
      <% like = current_user.likes.find{ |l| l.tweet == tweet} if current_user %>
      <% unless !!like %>
        <%= render "likes/form", like: tweet.likes.new(user:current_user) %>
      <% else %>
       <%= link_to like_path(like), method: "delete",
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure dislike tweet?' } do%>
            <%= image_tag("like_icon.png")%>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>
