 <%# User profile %>

<div id="<%= dom_id user %>">

  <h1 class=" heading--sm">Profile</h1>
  <% if user.avatar.attached? %>
    <%= image_tag(user.avatar, class: "image_circle_lg") %>
  <% end %>
  
  <div class="flex flex-column text-center ">
    <span><%= user.name %></span>
    <span>@<%= user.username %></span>
    <span class="">Joined on <%= user.created_at.strftime('%d, %Y') %></span>
  </div>

</div>
