<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# botones de login y logout %>
    <nav>
      <div>
        <% if current_user%>
          <p>Welcome <%=current_user.username%> </p>
          <%=link_to "Edit", edit_user_registration_path %>
        
        <% end %>
        <% if current_user%>
          <%=button_to "Log Out", destroy_user_session_path, :method=> :delete %>
          <% else %>
          <%=button_to "Log In", new_user_session_path, :method => :get %>
        <% end %>
      </div>
    </nav>
    <%# end botones %>
    <%# Alerts to sessions device %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%# end alerts %>
    <%= yield %>
    <footer class="footer_content">
      <div>
      <p>© 2021 - Codeable Tweetable</p>
      <p>Build with ♥ by</p>
      <div> jaa</div>
      <div> jaa</div>
      </div>
    </footer>
  </body>
</html>
